# Backend Environment Variables
# Сгенерируй JWT секреты: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"

# Server
NODE_ENV=production
PORT=3000

# Managed PostgreSQL (TimeWeb Cloud)
DB_HOST=04cf0e8e85f31549a679c3eb.twc1.net
DB_PORT=5432
DB_NAME=default_db
DB_USER=gen_user
DB_PASSWORD=kH>lYi3QUFn5aV

# JWT
JWT_ACCESS_SECRET=83b906700f619aa53135a5c08ed7909209204b2d3fba2f8f66a6b56612ae78f7
JWT_REFRESH_SECRET=ab4aea01e996e369bc939131a988e7efa684ce3800d547dc57a16f5675009f5c
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d

# CORS
CLIENT_URL=https://faculty-agu.ru

# File upload
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads
