# Этот файл - шаблон для docker-compose локальной разработки
# Для TimeWeb App Platform: вводите переменные через UI, не коммитьте секреты

DB_HOST=04cf0e8e85f31549a679c3eb.twc1.net
DB_PORT=5432
DB_NAME=default_db
DB_USER=gen_user
DB_PASSWORD=kH>lYi3QUFn5aV

JWT_ACCESS_SECRET=8a28527f0b7be40b00dfcef1e02d3d94789c915750fc2af97ca4003cfd0b3980
JWT_REFRESH_SECRET=562800fc577168834b08e94719a53a1b51f78f14a51654c4993d266535b74e31
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d
CLIENT_URL=*
